body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}


::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background-color: #5fcb38;
  border-radius: 10px;
  border: 3px solid #f0f0f0; 
}

/* Hover effect untuk thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #5fcb38;
}



section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
}

.section-1 {
  background: linear-gradient(to bottom, #37f140, #b7ffbb, #ffffff); ;
  align-items: center;
  height: 300px;
  
}



.section-1 h1 {
  font-size: 36px;
  margin-bottom: 20px;
  max-width: 500px;
  text-align: center;
  color: linear-gradient(to bottom, #37f140, #ffffff);
}

.section-1 p {
  font-size: 15px;
 
  max-width: 80%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

